<h1>Users</h1>

<% @users.each do |user| %>
  <div>
    <p><strong>Human</strong></p>
    <%= image_tag user.get_image(80, 80) %>
    <%= user.name %>
    <%= link_to "Show", user_path(user.id) %>
  </div>
<% end %>
