<h1>Books</h1>

<% @user.books.each do |book| %>
  <%= link_to user_path(@user.id) do %>
    <%= image_tag @user.get_image(80, 80) %>
  <% end %>
  <%= link_to book.title, book_path(book.id) %>
  <%= book.body %>
<% end %>
