<%= flash[:notice] %>


<div class="container col-8">




  <div class="text-center">
    <div class="text-left">
      <h1>welcome to <span><i class="fas fa-book"></i></span>Bookers !!</h1>
      <p>
        In <span><i class="fas fa-book"></i></span>
        <strong>Bookers</strong>,
      </p>
      <p class="my-3">
        you can share and exchange your opinions , inpressions , and emotions
      </p>
      <p class="my-3">
        about various books!
      </p>

    </div>
  </div>

  <div class="d-grid gap2 text-center">

    <%= link_to "Log in", new_user_session_path, class: "m-2 col-10 btn btn-info text-light" %>

  </div>

  <div class="d-grid gap2 text-center">

    <%= link_to "Sign up", new_user_registration_path, class: "m-2 col-10 btn btn-success text-light" %>

  </div>


</div>