<%= flash[:notice] %>


<h1>welcome to <span><i class="fas fa-book"></i></span>Bookers !!</h1>
<p>
  In <span><i class="fas fa-book"></i></span>
  <strong>Bookers</strong>,
  <br>you can share and exchange your opinions , inpressions , and emotions
  <br>about various books!
</p>

<p>
  <%= link_to new_user_session_path do %>
    Log in
  <% end %>
</p>

<p>
  <%= link_to new_user_registration_path do %>
    Sign up
  <% end %>
</p>